
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="mystyle.css">
    <title>Jose Porras Dev</title>
    <div>
        <nav>
            <a href="#" button type="button" class="btn btn-primary btn-lg">Home</a>
            <a href="#" button type="button" class = "btn btn-primary btn-lg">Portfolio</a></button>
            <a href="#" button type="button" class="btn btn-primary btn-lg">Contact me</button></a>
        </nav>
    </div>
</head>

<body>
    <div class="container">
        <iframe src="https://www.biscayneboats.com" width="500" height="200" frameborder="0"></iframe>
        con
    </div>
</body>


<footer>
    <div class="container">
        <address>
            Made by <a href="#">Jose Porras</a>
        </address>
    </div>

    <h1>test</h1>
</footer>
</html>